---
layout: default
---

<div class="gigs">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.gigs.size > 0 -%}
    <ul class="gig-list">
      {%- for gig in site.gigs -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="gig-meta">
          {{ gig.gig_date | date: date_format }}
          {{ gig.gig_time }}
        </span>
        <h3>
          <a class="gig-link" href="{{ gig.url | relative_url }}">
            more
          </a>
        </h3>
        <p>
          {{ gig.address_textarea }}
        </p>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
